/* =====Tablets & Small Laptops====== */
@media(max-width: 992px){
    header {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    header h2 {
        font-size: 2.2rem;
    }
    .balance {
        flex-direction: column;
        gap: 0.8rem;
        text-align: center;
    }
    .card{
        flex-direction: column;
        gap: 0.8rem;
        text-align: center;
    }
    .card input,
    .card button {
        width: 100%;
    }
}
/* =========Mobile Phones======== */
@media(max-width: 576px){
    header h2{
        font-size: 1.8rem;
    }
    .container{
        width: 95%;
        margin: 1rem auto;
    }
    .profile{
        flex-direction: column;
        gap: 0.4rem;
    }
    .balance{
        padding: 0.8rem;
        font-size: 0.95rem;
    }
    table th,
    table td{
        font-size: 0.85rem;
        padding: 6px;
    }
    .btn-delete {
        padding: 2px 6px;
        font-size: 0.75rem;
    }
}